@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap");

.InsideBar {
  width: 398px;
  height: 10px;
  top: 139px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.03em;
  padding-left: 10px;

  color: white;
}

.Bar {
  display: inline-block;
  background: #37b9c5;
  width: 25%;
  height: 45px;
  padding-top: 30px;
  margin: 0;
  flex: 1;
  left: 0;
}

.ClientsStyle {
  width: 25%;
  letter-spacing: 0.03em;
  height: 825px;
  background: white;
}

.Client {
  height: 10%;
  padding-top: 20px;
  padding-left: 10px;
}

.Selected {
  background: #e5e5e5;
}

.ClientName {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
}

.ClientCode {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #adb3bc;
}

.Status {
  height: 20px;
  border-radius: 2em;
  font-size: 12px;
  text-align: center;
  position: absolute;
  width: 121px;
  padding-top: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  color: white;
  font-weight: 900;
}

.Novo {
  background: #37b9c5;
}

.Atrasado {
  background: #ff5a5a;
}

.Message {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
}
