@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);

.Index{
    background-color: #F3F5FD;
    position: relative;
    width: 75%;
    float: right;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 60px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 100%;
}