.cart {
  color: #0d6efd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nav-link{
  text-decoration: none;
  padding: 0px !important;
}

.dropdown-toggle::after{
  display: none !important;
}